{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 52.290845873575535,
    "longitude": 4.576883912086488,
    "elevation": -1,
    "unit_system_v2": "metric",
    "location_name": "BeekKade",
    "time_zone": "Europe/Amsterdam",
    "external_url": "https://home.workflo.it",
    "internal_url": "https://home.workflo.it",
    "currency": "EUR",
    "country": "NL",
    "language": "en",
    "radius": 100
  }
}