<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamID</key>
	<string>YT3GCGK3Z7</string>
	<key>method</key>
	<string>development</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Mac Developer: Roman Kopaliani (66DB4XGLS2)</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.mspanywhere.applet</key>
		<string>MSP Anywhere Applet Development</string>
	</dict>
</dict>
</plist>
